@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Rubik+Distressed&display=swap');

/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

:root {
    --main-background: #FDFDFD;
    --red: #D62331;
    --dark: #1E1E1E;
    --dark-green: #272C23;
    --light-grey-bg: #e5e7db;
    --dark-green: #37412f;
    --dark-green-border: #859155;

    --border-radius-def: 8px;
}

body {
    background-color: var(--main-background);
    font-family: "PT Serif", serif;
    font-size: 12px;
    color: var(--dark);
    position: relative;
}

.container {
    width: 100vw;
    padding: 0 30px;
    overflow: visible;
}
.content {
    padding-bottom: 106px;
}

.no-scroll {
    overflow: hidden;
}
.hidden {
    display: none;
}

.d-flex { display: flex }
.align-center { align-items: center }
.justify-space-between { justify-content: space-between }
.flex-column { flex-direction: column; }
.gap-10 { gap: 10px; }

.pt-10 { padding-top: 10px; }

.fz-16 { font-size: 16px !important; }

.title {
    font-family: "Rubik Distressed", sans-serif;
    color: var(--dark-green);
    font-size: 18px;
}

.main-screen-content, .categories-screen-content,
.cart-button, .profile-screen,
body[data-screen="profile"] .main-screen {
    display: none;
}
body[data-screen="main"] .main-screen-content,
body[data-screen="main"] .categories-screen-content,
body[data-screen="categories"] .categories-screen-content,
body[data-screen="main"] .cart-button,
body[data-screen="categories"] .cart-button,
body[data-screen="profile"] .profile-screen {
    display: block;
}

.button {
    transition: background-color .2s ease-in-out;
}
.button:active {
    background-color: #c0c2b7;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(100%);
    transition: transform .3s linear;
}
.popup.active {
    transform: translateY(0);
}

/* Initial Screen */
.initial-screen {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: all .5s ease-in-out;
}
.initial-screen.auth-completed {
    opacity: 0;
    visibility: hidden;
}
.initial-screen img {
    position: absolute;
    transition: all .4s ease-in-out;
}
.big-logo {
    width: 300px;
    height: 280px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.initial-screen.done .big-logo {
    transform: translate(-50%, -60px);
}
.initial-screen-decoration-top, .initial-screen-decoration-bottom {
    left: 0;
    width: 100%;
}
.initial-screen-decoration-top {
    top: 0;
}
.initial-screen.done .initial-screen-decoration-top {
    top: -100%;
}
.initial-screen-decoration-bottom {
    bottom: 0;
}
.initial-screen.done .initial-screen-decoration-bottom {
    bottom: -100%;
}

.initial-screen.done .authorization-form {
    opacity: 1;
    visibility: visible;
}
.authorization-form {
    position: absolute;
    top: 485px;
    left: 50%;
    transform: translateX(-50%);
    gap: 14px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}
.authorization-form-title {
    font-size: 26px;
}
.authorization-form input {
    padding: 5px;
    border: 2px dashed var(--red);
    border-radius: 5px;
    width: 306px;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}
[data-input-type="code"] {
    display: none;
}
.authorization-form.number-entered [data-input-type="code"] {
    display: block;
}
.authorization-form-button {
    width: 107px;
    height: 43px;
    border-radius: var(--border-radius-def);
    border: 1px solid var(--dark-green-border);
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey-bg);
}

/* Cart Button */
.cart-button {
    border: 1px solid var(--dark-green);
    border-radius: 76px 5px 5px 5px;
    background-color: #b0b790;
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 100;
    padding: 30px 30px 16px 40px;
    font-weight: 700;
    color: var(--dark-green);
}
.cart-button:active {
    background-color: #cfd5b0 !important;
}
.cart-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    background: url('../images/icons/cart.svg') no-repeat center;
    background-size: contain;
    width: 28px;
    height: 30px;
}

/* Navigation */
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    padding: 25px 60px 40px;
    border-top: var(--dark-green) solid 1px;
    background-color: var(--main-background);
}
.navigation-item svg path {
    fill: #859155;
    fill-opacity: 0.65;
}
.navigation-item.active svg path {
    fill: #D62331;
    fill-opacity: 1;
}

/* Main Screen */
.main-screen-top {
    gap: 10px;
    margin-bottom: 13px;
}
.main-screen-top-address-field {
    flex-grow: 1;
    background: var(--light-grey-bg);
    border: 1px solid var(--dark-green-border);
    border-radius: 4px;
    padding: 3px 10px;
}
.main-screen-stories {
    margin-bottom: 15px;
    overflow: hidden;
}
.main-screen-stories-item {
    border: 1px solid var(--dark-green-border);
    border-radius: var(--border-radius-def);
    max-width: 98px;
    width: 100%;
    max-height: 98px;
    height: 100%;
    overflow: hidden;
}
.main-screen-stories-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-banner {
    border-radius: var(--border-radius-def);
    overflow: hidden;
    border: 1px solid var(--dark-green-border);
    margin-top: 5px;
    height: 131px;
    width: 100%;
}
.news-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Categories */
.categories-nav {
    border-top: 1px dashed var(--red);
    border-bottom: 1px dashed var(--red);
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 12px 0;
    overflow: scroll;
}
.categories-nav::-webkit-scrollbar {
    display: none;
}
.categories-nav-item {
    font-size: 13px;
    max-width: fit-content;
}
.categories-nav-item.active {
    color: var(--red);
}
.categories-wrapper {
    gap: 13px;
    padding-bottom: 15px;
}
.category-title {
    margin-bottom: 7px;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
}
.category-item {
    border-radius: var(--border-radius-def);
    background-color: var(--light-grey-bg);
    border: 1px solid var(--dark-green-border);
    overflow: hidden;
    position: relative;
}
.category-item--horizontal {
    padding: 8px;
    align-items: center;
    gap: 9px;
}
.category-item--vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 4px 4px 13px;
}
.category-item-img {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.category-item--horizontal .category-item-img {
    max-width: 100px;
    max-height: 100px;
}
.category-item--vertical .category-item-img {
    max-width: 171px;
    max-height: 153px;
}
.category-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-item--vertical .category-item-text-wrapper {
    padding: 0 16px;
}
.category-item--horizontal .category-item-text-wrapper {
    padding: 0;
}
.category-item-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
}
.category-item-description {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.category-item-price {
    font-weight: 700;
}
.category-item--vertical .category-item-price {
    font-weight: 400;
}
.category-item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid var(--dark-green-border);
    border-left: 1px solid var(--dark-green-border);
    border-radius: 40px 1px 8px 1px;
    width: 39px;
    background-color: rgba(133, 145, 85, 0.25);
}
.category-item-btn:active {
    background-color: #abada3 !important;
}
.category-item-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    background: url('../images/icons/cart.svg') no-repeat center;
    background-size: contain;
}
.category-item--horizontal .category-item-btn::after {
    width: 15px;
    height: 16px;
}
.category-item--vertical .category-item-btn::after {
    width: 12px;
    height: 13px;
}
.category-item--horizontal .category-item-btn {
    height: 36px;
}
.category-item--vertical .category-item-btn {
    height: 25px;
}

/* Dish Review */
.dish-review {
    z-index: 300;
    background-color: var(--main-background);
    padding-bottom: 30px;
}
.dish-review.active {
    overflow-y: scroll !important;
}
.dish-review-close-btn {
    border-radius: 11px;
    width: 31px;
    height: 31px;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 300;
}
.dish-review-close-btn::before,
.dish-review-close-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 301;
    width: 14px;
    height: 1px;
    background-color: #fff;
}
.dish-review-close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.dish-review-close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.dish-review-image {
    width: 100%;
    height: 50%;
}
.dish-review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dish-review-content {
    gap: 30px;
    text-align: center;
    padding-top: 25px;
    height: 50%;
}
.dish-review-title {
    font-size: 24px;
    margin-bottom: 6px;
}
.dish-review-description {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 5px;
}
.dish-review-count {
    margin-bottom: 20px;
}
.dish-review-additional-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 10px;
}
.dish-review-additional-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
}
.dish-review-additional-item {
    border: 2px dashed var(--red);
    border-radius: var(--border-radius-def);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.dish-review-additional-item div:first-child {
    font-size: 15px;
    line-height: 150%;
}
.dish-review-additional-item div:last-child {
    font-size: 13px;
    line-height: 150%;
}
.dish-review-add-button {
    display: inline-block;
    width: 200px;
    background-color: var(--light-grey-bg);
    border: 1px solid var(--dark-green-border);
    border-radius: var(--border-radius-def);
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.dish-review-more-button {
    gap: 5px;
}
.dish-review-more-button-arrow {
    width: 9px;
    height: 9px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(45deg);
}

/* Cart Screen */
.cart-screen {
    background-color: var(--main-background);
    z-index: 200;
    padding-bottom: 30px;
    color: var(--dark-green);
}
.cart-screen.active {
    overflow-y: scroll !important;
}
.cart-screen.empty .cart-screen-content {
    display: none;
}
.cart-screen.empty .cart-screen-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    display: block;
}
.cart-screen-empty {
    display: none;
}
.cart-close-btn {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 30px;
    height: 30px;
    justify-content: center;
}
.cart-close-btn span {
    font-size: 36px;
    display: block;
    transform: rotate(45deg);
}
.cart-title {
    font-size: 24px;
    margin: 20px 0 37px 90px;
}
.cart-text {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 11px;
}
.cart-products {
    gap: 7px;
    width: 100%;
    margin-bottom: 14px;
}
.cart-product {
    background-color: var(--light-grey-bg);
    border: 1px solid var(--dark-green-border);
    border-radius: 8px;
    padding: 7px;
    height: 112px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.cart-product-image {
    max-width: 110px;
    width: 100%;
    max-height: 98px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.cart-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-product-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}
.cart-product-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.cart-product-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cart-product-price {
    font-weight: 700;
    font-size: 14px;
}
.cart-product-modify-btn,
.cart-product-count {
    position: absolute;
}
.cart-product-modify-btn {
    border-radius: 5px;
    padding: 3px;
}
.cart-product-modify-btn {
    right: 71px;
    bottom: 3px;
    font-size: 11px;
}
.cart-product-count {
    border: 1px solid #859155;
    border-radius: 40px 1px 8px 1px;
    width: 63px;
    height: 28px;
    background-color: var(--light-grey-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    right: 0;
    bottom: 0;
    padding-left: 5px;
}
.cart-addition-items {
    padding: 0 30px;
}
.cart-addition-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}
.cart-addition-item {
    max-width: 117px;
    width: 100%;
    padding: 3px 4px 12px;
    border-radius: 8px;
    border: 1px solid var(--dark-green-border);
    background-color: var(--light-grey-bg);
}
.cart-addition-item-image {
    width: 109px;
    height: 98px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 6px;
}
.cart-addition-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-addition-item-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 6px;
    color: #000;
}
.cart-addition-item-price {
    font-size: 11px;
}
.cart-promocode {
    width: 100%;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    border: 2px dashed var(--red);
    margin: 24px 0;
    font-size: 16px;
}
.cart-total-wrapper {
    width: 100%;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 34px;
}
.cart-total-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-total-value {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}
.cart-main-button {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: var(--border-radius-def);
    border: 1px solid var(--dark-green-border);
    background-color: var(--light-grey-bg);
    padding: 13px 0;
    width: 100%;
    text-align: center;
}

.drag-element {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: transform .3s linear;
    transform: translateY(100%);
    max-height: 0;
    height: 100%;
    overflow: hidden;

    z-index: 201;
    width: 100%;
    padding: 30px 0 45px;
    background-color: var(--light-grey-bg);
    border-top: 1px solid var(--dark-green);
    display: none;
}
.drag-element-trigger {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.drag-element.active {
    transform: translateY(0);
    max-height: 480px;
    display: block;
}
.drag-element.folded {
    transform: translateY(calc(100% - 30px)) !important;
    max-height: 30px;
    display: block;
}
.drag-element-trigger div {
    width: 50px;
    height: 5px;
    background-color: var(--dark-green);
    border-radius: 7px;
}

/* Dish Checkout */
.cart-checkout {
    font-size: 16px;
}
.cart-checkout-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.cart-checkout-input {
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    padding: 13px 20px;
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
}
.cart-checkout-time-inputs {
    padding: 0 30px;
}
.cart-checkout-time-inputs .cart-checkout-input {
    max-width: 122px;
    width: 100%;
    white-space: nowrap;
}
.cart-checkout-input-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 12px;
    height: 12px;
    border-top: 3px solid var(--dark-green);
    border-right: 3px solid var(--dark-green);
    transform: translateY(-50%) rotate(45deg);
}
.cart-checkout-input-title {
    margin: 18px 0 7px;
    font-weight: 700;
}
.cart-checkout-button {
    margin-top: 40px;
    font-size: 18px;
    background: rgba(133, 145, 85, 0.25);
    border-radius: var(--border-radius-def);
    border: 1px solid var(--dark-green);
    padding: 16px 0;
    text-align: center;
}

/* Profile */
.profile-screen {
    color: #000;
    padding-top: 20px;
}
.profile-info {
    margin-bottom: 43px;
}
.profile-avatar {
    width: 124px;
    height: 124px;
    border: 2px dashed var(--dark-green-border);
    border-radius: 44px;
    padding: 30px 24px 20px;
    background-color: var(--light-grey-bg);
    margin-bottom: 13px;
}
.profile-name {
    text-transform: uppercase;
    font-size: 16px;
}
.profile-container {
    align-items: flex-start;
    gap: 33px;
    font-size: 18px;
    padding: 0 60px;
    width: 100%;
}
.profile-cards {
    margin-top: 11px;
    padding: 0 60px;
    width: 100%;
}
.profile-card {
    max-width: 108px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 7px 13px;
    font-size: 14px;
    background-color: var(--light-grey-bg);
    border: 1px solid var(--dark-green-border);
    border-radius: 5px;
    position: relative;
}
.profile-card::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 37px;
    height: 23px;
    background: url('../images/icons/mir-icon.png') no-repeat center;
    background-size: contain;
}
.profile-add-card {
    max-width: 44px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-add-card div {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid var(--dark-green-border);
    line-height: 28px;
    text-align: center;
    font-size: 18px;
}
.profile-add-card div:active {
    background-color: var(--light-grey-bg) !important;
}
.profile-version {
    font-size: 15px;
    color: rgba(133, 145, 85, 0.6);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.profile-card-addition-title {
    font-size: 24px;
    margin-bottom: 30px;
}
.profile-card-addition-card {
    margin: 0 auto 30px;
    max-width: 340px;
    width: 100%;
    border: 2px solid var(--dark-green-border);
    border-radius: 15px;
    background-color: #fff;
    padding: 25px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 28px;
}
.profile-card-addition-card div:first-child {
    grid-area: 1 / 1 / 2 / 3;
}
.profile-card-addition-card div:nth-child(2) {
    justify-content: flex-start;
}
.profile-card-addition-card div:last-child {
    justify-content: flex-end;
}
.profile-card-addition-card-label {
    font-size: 13px;
    margin-bottom: 7px;
}
.profile-card-addition-card-input {
    font-size: 17px;
}
.profile-card-addition-button {
    background-color: #fff;
    padding: 17px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: var(--border-radius-def);
    border: 1px solid var(--dark-green-border);
    margin-bottom: 15px;
}
.profile-card-addition-note {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

/* Address Screen */
.address-screen {
    z-index: 50;
    background-color: var(--main-background);
    color: var(--dark-green);
    display: flex;
    flex-direction: column;
}
.address-close-button {
    font-size: 28px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.address-screen-title {
    font-size: 20px;
    margin: 17px 0 26px 83px;
}
.address-screen-content {
    flex-grow: 1;
    overflow-y: scroll;
}
.address-screen-tabs {
    background: linear-gradient(to bottom, #fff, var(--light-grey-bg));
}
.address-screen-tab {
    flex: 1 1 0;
    padding: 11px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid var(--dark-green-border);
    background-color: #bfc4a5;
}
.address-screen-tab.active {
    background-color: var(--light-grey-bg);
    border: none;
    border-top: 1px solid var(--dark-green);
    font-weight: 700;
}
.address-screen-tab:first-child {
    border-radius: 0 10px 5px 0;
}
.address-screen-tab:last-child {
    border-radius: 10px 0 0 5px;
}
.address-screen-tab-content {
    padding-top: 38px;
    padding-bottom: 147px;
    background-color: var(--light-grey-bg);
    gap: 27px;
    flex-grow: 1;
}
.address-screen-list {
    gap: 28px;
}
.address-screen-list-item {
    gap: 10px;
    font-size: 14px;
}
.address-screen-list-item-selector {
    position: relative;
    max-width: 24px;
    width: 100%;
    height: 24px;
    border-radius: 100%;
    border: 1px solid var(--dark-green);
}
.address-screen-list-item-selector span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.address-screen-list-item-selector.checked span {
    background-color: var(--dark-green);
}
.address-screen-list-item-name {
    font-size: 20px;
    line-height: 111%;
}
.address-screen-list-item-address {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.address-screen-list-item-comment {
    margin-top: 5px;
    padding: 2px 7px;
    background-color: var(--main-background);
    border-radius: 5px;
}
.address-screen-list-item-info {
    flex-grow: 1;
    border-right: 1px solid #000000;
    padding-right: 10px;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address-screen-list-item-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}
.address-screen-list-item-button.edit {
    max-width: 20px;
    height: 20px;
    background-image: url('../images/icons/edit.svg')
}
.address-screen-list-item-button.remove {
    max-width: 19px;
    height: 23px;
    background-image: url('../images/icons/remove.svg');
}
.address-screen-tab-button {
    border-radius: var(--border-radius-def);
    padding: 12px 0;
    background-color: #fff;
    font-size: 24px;
    border: 1px solid #000;
    text-align: center;
}